.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
**/doc/api/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
*.iml
.idea/
.vscode/
*.swp
.DS_Store
